accelerate==1.4.0
aiohttp==3.9.1+computecanada
aiosignal==1.3.1+computecanada
anyio==4.4.0+computecanada
argcomplete==3.4.0
arrow==1.3.0+computecanada
asttokens==3.0.0+computecanada
attrs==24.3.0+computecanada
backoff==2.2.1+computecanada
bcrypt==4.0.1+computecanada
beartype==0.14.1
better-abc==0.0.3
boto3==1.34.151
botocore==1.34.151
Brotli==1.1.0+computecanada
causal_conv1d==1.5.0.post8+computecanada
certifi==2024.7.4
cffi==1.16.0+computecanada
charset-normalizer==3.3.2
circuitbreaker==1.4.0
click==8.1.7+computecanada
comm==0.2.2+computecanada
contourpy==1.3.1+computecanada
coolname==2.2.0
cramjam==2.6.2+computecanada
cryptography==42.0.8+computecanada
cycler==0.12.1+computecanada
datasets==3.2.0
debugpy==1.8.12+computecanada
decorator==5.1.1+computecanada
dill==0.3.8+computecanada
distlib @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/distlib/distlib-0.3.7
docker-pycreds==0.4.0+computecanada
editables @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/editables/editables-0.5
einops==0.8.1
executing==2.2.0+computecanada
fancy-einsum==0.0.3
filelock @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/filelock/filelock-3.12.2
fla @ git+https://github.com/sustcsonglin/flash-linear-attention@452406addd77e37deb7540861f89c70ce678379e
flash-attn @ git+https://github.com/Dao-AILab/flash-attention.git@f86e3dd9192e41dee3814c4cfd8bbce4792e6753
flit_core @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/flit_core/flit_core-3.9.0
fonttools==4.55.8+computecanada
frozenlist==1.4.1+computecanada
fsspec==2024.5.0+computecanada
gitdb==4.0.11+computecanada
GitPython==3.1.43+computecanada
gql==3.5.0
graphql_core==3.2.3+computecanada
hatch-vcs @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/hatch_vcs/hatch_vcs-0.3.0
hatchling @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/hatchling/hatchling-1.18.0
huggingface-hub==0.29.1
idna==3.7
importlib-metadata==6.11.0
ipykernel==6.29.5+computecanada
ipython==8.32.0+computecanada
ipywidgets==8.1.5+computecanada
jaxtyping==0.2.38
jedi==0.19.2+computecanada
jinja2==3.1.4+computecanada
jmespath==1.0.1+computecanada
jupyter_client==8.6.3+computecanada
jupyter_core==5.7.2+computecanada
jupyterlab_widgets==3.0.13+computecanada
kiwisolver==1.4.8+computecanada
lightning-utilities==0.11.6
mamba_ssm==2.2.4+computecanada
markdown_it_py==3.0.0+computecanada
MarkupSafe==2.1.5+computecanada
matplotlib==3.10.0+computecanada
matplotlib_inline==0.1.7+computecanada
mdurl==0.1.2+computecanada
mosaicml-cli==0.6.40
mosaicml-streaming==0.4.1
mpmath==1.3.0+computecanada
multidict==6.0.5+computecanada
multiprocess==0.70.16+computecanada
nest_asyncio==1.6.0+computecanada
networkx==3.3+computecanada
ninja==1.11.1+computecanada
nose==1.3.7+computecanada
numpy==2.2.2+computecanada
oci==2.130.0
packaging @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/packaging/packaging-23.1
pandas==2.2.3+computecanada
paramiko==3.4.0+computecanada
parso==0.8.4+computecanada
pathspec @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/pathspec/pathspec-0.11.2
pexpect==4.9.0+computecanada
pillow==11.1.0+computecanada
Pillow_SIMD==9.0.0.post1+computecanada
platformdirs @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/platformdirs/platformdirs-3.10.0
pluggy @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/pluggy/pluggy-1.3.0
prompt-toolkit==3.0.36
protobuf==5.27.3
psutil==6.1.1+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.3+computecanada
py_cpuinfo==9.0.0+computecanada
pyarrow @ file:///tmp/ebuser/avx2/Arrow/19.0.1/GCCcore-12.3-gentoo/arrow/python
pyarrow_hotfix==0.6+computecanada
pycparser==2.22
pygments==2.19.1+computecanada
PyNaCl==1.5.0+computecanada
pyOpenSSL==24.2.1
pyparsing @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/pyparsing/pyparsing-3.1.1
python-snappy==0.7.2
python_dateutil==2.9.0.post0+computecanada
pytorch_ranger==0.1.1+computecanada
pytz==2025.1+computecanada
PyYAML==6.0.1+computecanada
pyzmq==26.2.1+computecanada
questionary==2.0.1
regex==2023.8.8+computecanada
requests==2.32.3
rich==13.7.1+computecanada
ruamel.yaml==0.18.6+computecanada
ruamel.yaml.clib==0.2.8+computecanada
s3transfer==0.10.2+computecanada
safetensors==0.4.3+computecanada
scipy==1.15.1+computecanada
sentencepiece==0.2.0+computecanada
sentry-sdk==2.12.0
setproctitle==1.3.2+computecanada
setuptools-scm @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/setuptools_scm/setuptools_scm-7.1.0
six @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/six/six-1.16.0
smmap==5.0.1+computecanada
sniffio==1.3.1+computecanada
stack_data==0.6.3+computecanada
sympy==1.13.1+computecanada
tabulate==0.9.0+computecanada
termcolor==2.4.0+computecanada
tokenizers==0.21.0+computecanada
tomli @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/tomli/tomli-2.0.1
torch==2.5.1+computecanada
torch_optimizer==0.3.0+computecanada
torchmetrics==1.3.2+computecanada
torchtext==0.18.0+computecanada
torchvision==0.20.1+computecanada
tornado==6.4.2+computecanada
tqdm==4.66.4+computecanada
traitlets==5.14.3+computecanada
transformer-lens==2.15.0
transformers==4.49.0
transformers-stream-generator==0.0.5
triton==3.1.0+computecanada
trove-classifiers @ file:///cvmfs/soft.computecanada.ca/easybuild/sources/p/Python/extensions/trove_classifiers-2023.8.7-py3-none-any.whl#sha256=a676626a31286130d56de2ea1232484df97c567eb429d56cfcb0637e681ecf09
typeguard==4.4.2
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.2+computecanada
tzdata==2025.1+computecanada
urllib3==2.2.2
validators==0.33.0
virtualenv @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/virtualenv/virtualenv-20.24.3
wadler_lindig==0.1.3
wandb==0.17.5
wcwidth==0.2.13+computecanada
websockets==11.0.3+computecanada
widgetsnbextension==4.0.13+computecanada
xxhash==3.2.0+computecanada
yarl==1.9.4+computecanada
zipp==3.19.2
zstd==1.5.5.1
